{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">
                        Customers
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Basic Info
                        </h4>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Name
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    
                                    
                                </div>
                                <div class="col-md-6">
                                   
                                    <div class="form-group">
                                        <label>
                                            Phone
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                   
                                    
                                    <div class="form-group">
                                        <label>
                                            Address
                                        </label>
                                        <textarea rows="5" cols="5" class="form-control" placeholder="Enter Address"></textarea>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary">
                                       Add <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                        </form>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}





