{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Customers</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="customers.html">Customers</a></li>
                        <li class="breadcrumb-item active">Edit Customers</li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Stock Edit</h4>
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="row text-capitalize">
                                <div class="col-md-6">
                                    
                                    <div class="form-group">
                                        <label>item name</label>
                                        <input type="text" value="{{item.item_name}}" class="form-control" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label>category</label>
                                        <input type="text" value="{{item.item_catagory.cat_name}}" class="form-control" readonly >
                                    </div>
                                     <div class="form-group">
                                        <label>quantity</label>
                                        <input type="number" class="form-control" value="{{item.quantity}}" name="qty" required >
                                    </div>       
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Price/Day</label>
                                        <input type="number" class="form-control" value="{{item.rental_price}}" name="priceperday" required>
                                    </div>
                                     <div class="form-group">
                                        <label>Damage price</label>
                                        <input type="number" class="form-control" value="{{item.damage_price}}" name="damageprice" required>
                                    </div>      
                                    <div class="form-group">
                                        <label>Missing price</label>
                                        <input type="number" class="form-control" value="{{item.missing_price}}" name="missprice" required>
                                    </div>
                                </div>
                                <div class="text-end mt-3">
                                    <button type="submit" class="btn btn-primary">
                                        Edit Stock
                                    </button>
                                </div>   
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}