{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper">
                <div class="content container-fluid">
                    <div class="row">
                    {% for b in bank %}
                        <div class="col-xl-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dash-widget-header">
                                        <span class="dash-widget-icon bg-1">
                                            <i class="fas fa-university"></i>
                                        </span>
                                        <div class="dash-count">
                                            <div class="dash-title">
                                               {{b.bank_name}}
                                            </div>
                                            <div class="dash-counts">
                                                <p>
                                                    {{b.amount}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                   
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="col-xl-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dash-widget-header">
                                        <span class="dash-widget-icon bg-3">
                                            <i class="fas fa-university"></i>
                                        </span>
                                        <div class="dash-count">
                                            <div class="dash-title">
                                                G-pay
                                            </div>
                                            <div class="dash-counts">
                                                <p>
                                                    {{gpay.amount__sum}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dash-widget-header">
                                        <span class="dash-widget-icon bg-4">
                                            <i class="fas fa-university"></i>
                                        </span>
                                        <div class="dash-count">
                                            <div class="dash-title">
                                               Cash
                                            </div>
                                            <div class="dash-counts">
                                                <p>
                                                    {{cash.amount__sum}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-7 d-flex">
                           <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">
                                                Recently Billed
                                            </h5>
                                        </div>
                                        <div class="col-auto">
                                            <a href="{% url 'home:itemreturn' %}" class="btn-right btn btn-sm btn-outline-primary">
                                                View All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        
                                        
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-stripped table-hover datatable ">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>
                                                        Bill Id
                                                    </th>
                                                    <th>
                                                        Customer
                                                    </th>
                                                    <th>
                                                        No of Products
                                                    </th>
                                                    <th>
                                                        Billed Date
                                                    </th>
                                                    <!-- <th>
                                                        Status
                                                    </th> -->
                                                    <th class="text-right">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for bills in bills %}
                                                <tr>
                                                    <td>
                                                        {{bills.billing_no}}
                                                    </td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html" class="text-capitalize">
                                                                
                                                            {{bills.client__client_name}}</a>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                       {{bills.itemCount}}
                                                    </td>
                                                    <td>
                                                       {{bills.billing_date.date}}
                                                    </td>
                                                    <!-- <td>
                                                        <span class="badge bg-success-light">Paid</span>
                                                    </td> -->
                                                    <td class="text-right">
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#"
                                                               class="action-icon dropdown-toggle"
                                                               data-bs-toggle="dropdown"
                                                               aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="{% url 'home:addinbilling' bills.id %}"><i class="far fa-edit me-2"></i>Add Items</a>
                                                               
                                                                <a class="dropdown-item" href="{% url 'home:viewbill' bills.id %}"><i class="far fa-eye me-2"></i>View</a>
                                            
                                                                <a class="dropdown-item" href="{% url 'home:addeditemreturn' bills.id %}"><i class="far fa-check-circle me-2"></i>Return</a>                                                              
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 d-flex">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">
                                                Recent Invoices
                                            </h5>
                                        </div>
                                        <div class="col-auto">
                                            <a href="{% url 'home:itemreturn' %}" class="btn-right btn btn-sm btn-outline-primary">
                                                View All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                                                                
                                    </div>
                                   <div class="table-responsive">
                                        <table class="table table-stripped table-hover datatable ">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>
                                                        Bill Id
                                                    </th>
                                                    <th>
                                                        Customer
                                                    </th>
                                                    <th>
                                                        No of Products
                                                    </th>
                                                    <th>
                                                        Billed Date
                                                    </th>
                                                    <!-- <th>
                                                        Status
                                                    </th> -->
                                                    <th class="text-right">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for billed in billed %}
                                                <tr>
                                                    <td>
                                                        {{billed.billing_no}}
                                                    </td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="profile.html" class="text-capitalize">
                                                                
                                                            {{billed.client__client_name}}</a>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                       {{billed.itemCount}}
                                                    </td>
                                                    <td>
                                                       {{billed.billing_date.date}}
                                                    </td>
                                                    
                                                    <td class="text-right">
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#"
                                                               class="action-icon dropdown-toggle"
                                                               data-bs-toggle="dropdown"
                                                               aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-right">

                                                                <a class="dropdown-item" href="{% url 'home:viewbill' billed.id %}"><i class="far fa-eye me-2"></i>View</a>
                                            
    
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        {% endblock %}
        {% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).on('click', '#toggle_btn', function () {
		if ($('body').hasClass('mini-sidebar')) {
			$('body').removeClass('mini-sidebar');
			$('.subdrop + ul').slideDown();
		} else {
			$('body').addClass('mini-sidebar');
			$('.subdrop + ul').slideUp();
		}
		setTimeout(function () {
			mA.redraw();
			mL.redraw();
		}, 300);
		return false;
	});
	
	$(document).on('mouseover', function (e) {
		e.stopPropagation();
		if ($('body').hasClass('mini-sidebar') && $('#toggle_btn').is(':visible')) {
			var targ = $(e.target).closest('.sidebar').length;
			if (targ) {
				$('body').addClass('expand-menu');
				$('.subdrop + ul').slideDown();
			} else {
				$('body').removeClass('expand-menu');
				$('.subdrop + ul').slideUp();
			}
			return false;
		}
	});
</script>


{% endblock %}