{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Payments</h3>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-auto" >
                            <a href="{% url 'home:addbank' %}" class="btn btn-primary">
                                <i class="fas fa-plus">&nbsp Add Bank</i>
                            </a>
                        </div>
                        
                        
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Bank Name</th>
                                        <th>Acc No</th>
                                        <th>IFSC</th>
                                        <th>Branch</th>
                                        <th>Acc Holder Name</th>
                                        <th>District</th>
                                        <th class="text-end">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for b in bank %}
                                    <tr>
                                        <td>{{b.bank_name}}</td>
                                        <td>{{b.acc_number}}</td>
                                        <td>{{b.ifsc_code}}</td>
                                        <td>{{b.branch}}</td>
                                        <td>{{b.acc_holder_name}}</td>
                                        <td>{{b.district}}</td>
                                        <td class="text-end">
                                            <a onclick="deletebank('{{ b.id }}')"
                                                class="btn btn-sm btn-white text-danger me-2"><i
                                                class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('body').append('<div class="sidebar-overlay"></div>');
	$(document).on('click', '#mobile_btn', function () {
		$wrapper.toggleClass('slide-nav');
		$('.sidebar-overlay').toggleClass('opened');
		$('html').toggleClass('menu-opened');
		return false;
	});
</script>
<script>
    $(document).on('click', '#toggle_btn', function () {
		if ($('body').hasClass('mini-sidebar')) {
			$('body').removeClass('mini-sidebar');
			$('.subdrop + ul').slideDown();
		} else {
			$('body').addClass('mini-sidebar');
			$('.subdrop + ul').slideUp();
		}
		setTimeout(function () {
			mA.redraw();
			mL.redraw();
		}, 300);
		return false;
	});
	
	$(document).on('mouseover', function (e) {
		e.stopPropagation();
		if ($('body').hasClass('mini-sidebar') && $('#toggle_btn').is(':visible')) {
			var targ = $(e.target).closest('.sidebar').length;
			if (targ) {
				$('body').addClass('expand-menu');
				$('.subdrop + ul').slideDown();
			} else {
				$('body').removeClass('expand-menu');
				$('.subdrop + ul').slideUp();
			}
			return false;
		}
	});
</script>

<script>
    function deletebank(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this Item!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your Item has been deleted!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/deletebank/" + id
                    }, 1000);
                } else {
                    swal("Your Item is safe!");
                }
            });
    }
</script>



{% endblock %}